@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    /* color: #fff; */
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-heading{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4ch;
}

nav .fas{
    color: #ff2f14;
}
.hero-heading h1{
    font-size: 50px;
    margin-top: -15px;
    padding: 0;
}
.hero-heading p{
    margin-top: -20px;
    font-family: 'Rubik', sans-serif;
    width: 60%;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

